@model List<BasketItemVM>

@if (Model == null || !Model.Any())
{
    <div class="alert alert-warning text-center">
        <p>You are not logged in. Please log in to view your basket.</p>
        <a href="/User/Login" class="btn btn-primary">Go to Login</a>
    </div>
}
else
{
    <div class="list-group">
        @foreach (var item in Model)
        {
            <a href="#" class="list-group-item list-group-item-action">
                @item.GameTitle - $@item.Price
            </a>
        }
    </div>
    <div class="d-flex justify-content-between mt-3">
        <h5>Total:</h5>
        <h5>$@Model.Sum(x => x.Price)</h5>
    </div>
    <button class="btn btn-primary w-100 mt-3">Checkout</button>
}
