@model List<CategoryFirstVM>


@section Links {
<link href="~/css/categoryPartial.css" rel="stylesheet" />
}


<div class="container-fluid mt-4">
    <div class="row g-3">
        @if (Model != null && Model.Any())
        {
            @foreach (var category in Model.Take(7)) 
            {
                <div class="col-6 col-md-4 col-lg-3"> 
                    <a style="text-decoration:none;"href="@Url.Action("Index", "Game", new { category = category.Id })" class="category-link">
                        <div class="category-card text-center py-4">
                            <h5 class="category-title">@category.Name</h5>
                        </div>
                    </a>
                </div>
            }
            <div class="col-6 col-md-4 col-lg-3">
                <a style="text-decoration:none;" href="@Url.Action("Index", "Category")" class="category-link">
                    <div class="category-card text-center py-4">
                        <i class="fa-solid fa-layer-group fs-1 mb-2"></i>
                        <h6>View All Categories</h6>
                    </div>
                </a>
            </div>
        }
    </div>
</div>


