@model List<PromoVM>

<!-- Promotional Section -->
<section class="promo-section">
    <img id="promoImage" src="@Model.FirstOrDefault()?.Image" alt="Promo Image" width="100%" height="auto"> <!-- Default to first promo image -->
</section>

<!-- Squares Section -->
<div class="container-fluid">
    <div class="image-row">
        @if (Model != null && Model.Any())
        {
            @foreach (var promo in Model.Take(9))
            {
                <div class="image-square">
                    <img src="@promo.Image" alt="@promo.Name" class="square-img" data-promo-img="@promo.Image">
                </div>
            }
        }
        else
        {
            <p>No promotions available</p>
        }

    </div>
</div>

@section Scripts {
    <script>
        document.querySelectorAll('.square-img').forEach(square => {
            square.addEventListener('click', function () {
                const promoImage = document.getElementById('promoImage');
                const newSrc = this.getAttribute('data-promo-img');
                promoImage.setAttribute('src', newSrc);
            });
        });
    </script>
}
