@{
    ViewBag.Title = "Login";
}
@section Links {
     <link href="/css/login.css" rel="stylesheet" />
 }

<style>
    body{
        background-image:url(/wwwroot/img/background_dark.jpg)
    }
</style>

@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger">
        @ViewBag.ErrorMessage
    </div>
}


<form asp-action="Login" method="post">
    <div class="login-container">
        <h2><i class="fa-brands fa-playstation"></i></h2>
        <form>
            <div class="mb-3">
                <label for="email" class="form-label visually-hidden">Sign-In ID (Email Address)</label>
                <input type="email" class="form-control" id="email" placeholder="Sign-In ID (Email Address)" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label visually-hidden">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Password" required>
            </div>
            <button type="submit" class="btn-next">Next</button>
        </form>
        <div class="links">
            <a href="#">Forgot password?</a>
        </div>
        <button class="btn-create-account">Create an Account</button>

    </div>
</form>
