@model RegisterVM

@section Links {
    <link href="/css/register.css" rel="stylesheet" />
}

<form asp-action="Register" method="post">
    <div class="register-container">
        <h2 class="text-center"><i class="fa-brands fa-playstation"></i></h2>
        <div class="mb-3">
            <label for="fullName" class="form-label visually-hidden">Full Name</label>
            <input asp-for="FullName" class="form-control" id="fullName" placeholder="Full Name" required />
            <span asp-validation-for="FullName" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label for="username" class="form-label visually-hidden">Username</label>
            <input asp-for="UserName" class="form-control" id="username" placeholder="Username" required />
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label visually-hidden">Email Address</label>
            <input asp-for="Email" class="form-control" id="email" placeholder="Email Address" required />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label visually-hidden">Password</label>
            <input asp-for="Password" class="form-control" id="password" placeholder="Password" type="password" required />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label for="rePassword" class="form-label visually-hidden">Confirm Password</label>
            <input asp-for="RePassword" class="form-control" id="rePassword" placeholder="Confirm Password" type="password" required />
            <span asp-validation-for="RePassword" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-light mb-3 w-100">Create Account</button>
        <a asp-action="login" class="btn btn-outline-light">Back to Sign In</a>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
