@using Final.Mvc.Areas.AdminArea.ViewModels.PromoVMs
@model AdminPromoCreateVM

<h1>Create New Promo</h1>

<form asp-action="Create" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="Name">Promo Name</label>
        <input type="text" class="form-control" id="Name" name="Name" required />
    </div>

    <div class="form-group">
        <label for="File">Promo Image</label>
        <input type="file" class="form-control" id="File" name="File" required />
    </div>

    <button type="submit" class="btn btn-primary">Create</button>
</form>

<a href="@Url.Action("Index", "Promo")" class="btn btn-secondary">Back to List</a>
