@model UserBasketVM

<h2>Checkout</h2>
<ul>
    @foreach (var item in Model.BasketGames)
    {
        <li>@item.GameTitle - @item.Quantity x $@item.Price</li>
    }
</ul>

<div>Total: $@Model.TotalPrice</div>

<form method="post" action="@Url.Action("PlaceOrder", "Basket")">
    <button type="submit" class="btn btn-primary">Place Order</button>
</form>
